@{
    ViewBag.Title = "Rachel Ross";
}

<div class="jumbotron" style="background-color:#000000;">
    <div class="container text-center">

        @*NOTE: You shouldn't be seeing this because the HomeController.cs is redirecting this page to my ProjectListModels Index view, where the real index work was done.*@
        <p>You shouldn't be seeing this because the HomeController.cs is redirecting this page to my ProjectListModels Index view, where the real index work was done.</p>
    </div>
</div>