@{
    ViewBag.Title = "Rachel Ross";
}
<script src="~/Scripts/MyScript.js"></script>
<link href="~/Content/Site.css" rel="stylesheet" />
<div class="jumbotron" style="background-color:#000000;" >
    <div class="container text-center">
        @*<h1>Rachel Ross</h1>*@
        <img src="~/Content/images/path4333-0.png" />
        @*<p class="lead">Junior Web Developer</p>*@
        @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    </div>
</div>
<div class="container-fluid ">
    <div class="row">
        <div class="slideOutTab">
            <<a href="@Url.Action("About","Home")">About Me><h1 class="slideh1">ABOUT ME</h1><h1 class="slideh1"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></h1></a>
            </div>
        <div class="slideOutTab ">
            <<a href="@Url.Action("Index","ProjectListModels")">About Me><h1 class="slideh1">ABOUT MY PROJECTS <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></h1></a>
        </div>
        <div class="slideOutTab">
            <a href="#"><h1 class="slideh1">CONTACT ME <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></h1></a>
        </div>
            <p style="text-align: center;"><a href="https://www.linkedin.com/in/racheleross"><i class="fa fa-2x fa-linkedin spacer" aria-hidden="true"></i></a><a href="https://github.com/Glimmerville"><i class="fa fa-2x fa-github spacer" aria-hidden="true"></i></a><a href="https://twitter.com/Nycteris"><i class="fa fa-twitter fa-2x spacer" aria-hidden="true"></i></a></p>
        </div>
        @*<div class="col-md-4 col-sm-6 text-center">
            <img class="img-circle text-center" src="~/Content/images/rachel_photobw_small.jpg" alt="Rachel Ross's portrait'" width="200" height="200">
            <h4><a href="mailto:racheleross@gmail.com">racheleross@gmail.com</a></h4>
        </div>*@
    </div>
    
