body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
h1 {
	font-family: 'Muli', sans-serif;
    color: white;
}
.backgroundimage {
    /*background-image: url('images/tabs-studio-add-in-in-visual-studio-2013-preview.png');*/
    background-color: #000000;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    position: relative;
    display: block;
    margin-bottom: 0px;
    
}
.jumbotron {
    background-color: #000000;
}
p {
    font-size: 16px;
}
.container-fluid {
    padding-left: 30px; 
    padding-right: 30px;
}
.spacer {
    padding-left: 20px;
    padding-right: 20px;
}
.blue {
    color: #0026ff;
    -webkit-animation-delay: 3s;
    -webkit-animation-iteration-count: 1;
}
.glyphtwitch {
    -webkit-animation-delay: 3s;
    -webkit-animation-iteration-count: 1;
}
#frontList {
    padding-left: 15px;

}
.hidden {
    visibility: hidden;
}
#frontList li {
     display: inline;
     margin-left: 20px;
     margin-right: 20px;
     color:white;
}
ul#frontList li:first-child {
    margin-left: 0px;
    padding-left: 0px;
}
a:visited {
    color: #3366ff;
}
a {
    color: #3366ff;
}
a:hover {
    color: #3366ff;
}
.padded {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.halfspacer {
    margin-right: 10px;
    padding-right: 10px;
}
